<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bit.app.need4feed"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MainApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <activity
            android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bit.app.need4feed.MainActivity" />
        </activity>
        <activity
            android:name=".FeedActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bit.app.need4feed.CategoryActivity" />
        </activity>
        <activity
            android:name=".PostActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bit.app.need4feed.FeedActivity" />
        </activity>
    </application>

</manifest>